#parent{
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 20fr 1fr;
    grid-template-areas: "f c""f m";
}
body{
    margin:0;
}

/* Friends area (left) */
#friends{
    background-color: blueviolet;
    display: grid;
    grid-area: f;    
}
#caption{
    padding-left: 5px;
}
.name{
    background-color: violet;    
    align-self: center;
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
}

/* Chat Area (right)*/
#chat{
    grid-area: c;
    display: grid;
    grid-gap: 100px;
    grid-template-rows: repeat(5, 1fr);    
}
.message{    
    font-family: cursive;
    font-style: italic;        
    align-content: center;
    border-radius: 5px;
    padding: 5px;
    align-self: center;
}
.text-left{
    background-color: lightgray;
    justify-self: left;
}
.text-right{
    background-color: lightgreen;
    justify-self: right;
}
.text{
    font-size: 20px;
    display: inline;    
}
.time{
    font-size: 8px;
    display: inline;
}

/* Footer (right)*/
#footer{
    grid-area: m;
    background-color: blue;
    display: grid;
    grid-template-columns: 5fr 1fr;                    
}
#send{
    line-height: 2;    
    text-align: center;    
    color: white;
    background-color: blueviolet;        
    margin:0px;    
}